target
nbactions.xml
nb-configuration.xml
/nbproject/
project.properties
*.iml
.idea/
.project
.settings/
.classpath
dependency-reduced-pom.xml
*.exe
*.tar.gz
packr.jar
native-linux/
native-osx/
native-win32/
native-win64/
osx-jdk/
linux-jdk/
win32-jdk
win64-jdk
node_modules/
.gradle
build
vcredist_x64.exe
vcredist_x86.exe
appimagetool-x86_64.AppImage
*.dmg
.DS_Store
*.zip