[submodule "detours"]
	path = detours
	url = https://github.com/microsoft/Detours
[submodule "native/dropt"]
	path = native/dropt
	url = https://github.com/jamesderlin/dropt
[submodule "native/sajson"]
	path = native/sajson
	url = https://github.com/chadaustin/sajson