[Desktop Entry]
Name=RuneLite
Comment=A popular free, open-source and super fast client for Old School RuneScape
Exec=runelite
Icon=${SNAP}/meta/gui/runelite.png
Type=Application
Categories=Game;
StartupNotify=false
Keywords=rs;osrs;old;school;runescape
